*{
	 box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}


body, html{
	height: 100vh;
	
}

body{
	width: 100%;
	/*background: hsl(30, 100%, 65%);*/
	font-family: 'Rubik', sans-serif;
	background:  url("assets/Blue.jpg");
	background-size: cover;
}
#wrapper{
	
	
	margin-right: auto;
	margin-left: auto;
	display: block;
	overflow: hidden;
	/*border: 1px solid black;*/
	  box-shadow: 0px 0px 130px #000000;
	
	
	
	
}


#long-container{
	
	
	
}
.short-container{


	
	float: left;
	
	
}



#container-image{
	background: url("assets/Geography.png");
	background-size: cover;
	position: relative;
	
}
#container-image2{
	background: url("assets/Amazon.png");
	background-size: cover;
	position: relative;
}
#container-image3{
	background: url("assets/World-Cup.png");
	background-size: cover;
	position: relative;
}
#container-image4{
	background: url("assets/World-War.jpg");
	background-size: cover;
	position: relative;
	
}
#container-image5{
	background: url("assets/Plane.png");
	background-size: cover;
	position: relative;
}
#container-image6{
	background: url("assets/Marvel.jpg");
	background-size: cover;
	position: relative;
}
#container-image7{
	background: url("assets/Book.jpeg");
	background-size: cover;
	position: relative;
}
#container-image8{
	background: url("assets/Mona.jpg");
	background-size: cover;
	position: relative;
	
}
#container-image9{
	background: url("assets/IT.png");
	background-size: cover;
	position: relative;
}
#container-image9{
	background: url("assets/IT.png");
	background-size: cover;
	position: relative;
	
}
#container-image10{
	background: url("assets/Tolkien.jpg");
	background-size: cover;
	position: relative;
}
.container-image-start{
    position: relative;
	padding-bottom: 3rem;
	height: 600px;

	background: url("assets/PINK.jpg");
	background-size: cover;
}
.logo{
	width: 100%;
	height: auto;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.logo img{
	width: 250px;;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	display: block;
	
}
.all-containers{
	width: 100%;
	height: 100%;
	
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	
	
}


.title{
	width: 100%;
	height: auto;
	text-align: center;
}

.timer{
	width: 50px;
	background: hsl(60, 100%, 45%);
	
    border-radius: 10px;
	box-shadow: 0px 0px 10px inset #000000;
	height: 1.5rem;
	
	text-align: center;
	font-size: 17px;
	
	
	
}

.total {
	text-align: center;
	font-size: 20px;
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
	
}

.short-container1{
	
}
.expired, .next, .start, #restart, #informations{
	height: auto;	
	font-size: 25px;
	border-radius: 10px;
	
	border: none;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left:  0.5rem;
	padding-right: 0.5rem;
	
	 box-shadow: 0px 0px 10px inset #000000;
	
}
.start{
	background: hsl(24, 100%, 65%);
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);	
}
#informations{
	position: absolute;
  top: 9%;
  left: 50%;
  transform: translate(-50%, -50%);	
  background: hsl(280, 100%, 65%);
	
}
#informations-image{
	
	height: auto;
	background: hsla(0, 0%, 15%, 70%);
	position: absolute;
   top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);	
  z-index: 1;
  border-radius: 10px;	
	display: none;
 
}
#informations-image p{
	line-height: 1.6;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	color: hsl(0, 0%, 75%);
	
}
.close{
	position: absolute;
	right: 0;
	top:  -6px;
	color: hsl(0, 100%, 70%);
	font-size: 30px;
	cursor: pointer;
}
.center{
	position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
	
}
.expired{
	max-width: 400px;
	position: absolute;
	top: 40%;
	left: 50%;
	 transform: translate(-50%, -50%);	
	z-index: 1;
	background: hsl(0, 100%, 65%);e
	
}
 .expired, .next{
	display: none;
}



.title{
	background: hsl(240, 20%, 65%) ;
	
	height: auto;
	margin-top: 2%;
	font-size: 20px;
	padding-top: 0.2rem;
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	margin-right: auto;
	margin-left: auto;
	display: block;
	text-align: center;
	border-radius: 10px;
	color: hsl(0, 0%, 90%);
	text-shadow: 2px 2px 2px black;
	 box-shadow: 0px 0px 10px inset #000000;
	
}



.image-text{
	
	position: relative;
	border-radius: 20px;
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
	cursor: pointer;
	box-shadow: 0px 0px 130px #000000;
		margin-left: 1rem;
	margin-right: 1rem;
	
}
.button-green, #restart{
	margin-right: auto;
	margin-left: auto;
	display: block;
	padding: 15px;
	font-size: 20px;
	
	border: none;
	border-radius: 10px;
	
	cursor: pointer;
  
}
.button-green{
	width: 100px;
	/* background: hsl(150, 100%, 40%);*/
	background:  hsl(0, 0%, 75%);
	 pointer-events: none;
}
#restart{
	width: 250px;
	background: hsl(36, 100%, 55%);
	margin-top: 1rem;
	margin-left: 1rem;
}
.button-green-auto{
	pointer-events: auto !important;
	cursor: pointer;
}

.image-text img{
	width: 100%;
	height: 100%;
	border-radius: 20px;
	
	
}
.red, .green{
	display: none ;
}
.fa-times, .green{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	text-shadow: 2px 2px black;
	
}

.fa-times{
	color: hsl(0, 100%, 65%);
}
.fa-check{
	color: hsl(120, 59%, 65%);
}

.image-text i{
    font-size: 100px;
	
}
#turn{
	display: none;
}


.image-text p{
	padding: 0.5rem;
	font-size: 17px;
	color: white;
}
.background-text{
	width: 100%;
	height: auto;
	background: hsla(0, 0%, 35%, 70%);
	position: absolute;
	bottom: 0;
	left: 0;
	border-radius: 20px;
	
	
}
.next{
	display: none;
}
.inner{
	width: 100%;
	height: 2rem;
	background: pink;
	clear: both;
}

/*@media(max-width: 700px){
	
	.image-text{
		margin-right: auto;
		margin-left: auto;
		display: block;
	}
		.expired{
	width: 300px;	

	position: fixed;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
	background: hsl(0, 100%, 70%);
	text-align: center;
	}
	.next{
	position: fixed;
	
	}
	.next-center{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
	
}
.red2{
	opacity: 0;
}*/


@media(min-width: 650px){
	#wrapper{
		max-width: 700px;
		height: 600px;
		margin-top: 2rem;
	}
	#long-container{
		width: 9000px;
		height: 700px;
	}
	.short-container{
	width: 700px;
	height: 700px;	
	}
	.all-containers{
		float: left;
	}
	.image-text{
	width: 300px;
	height: 200px;
	float: left;
	}
	.title{
		width: 100%;
	}
	#informations-image{
	width: 400px;
	}
	.timer{
	z-index: 1;
	position: absolute;
	top: 41%;
	left: 49%;
	transform: translate(-50%, -50%);
	
	}
	
}
#inner{
	display: inline-block;
}


@media(max-width: 650px){
	#wrapper{
		width: 500px;
		height: 500px ;
	}
	#long-container{
		height: 500px;
		width: 4800px;
	}
	.short-container{
	width: 500px;
	height: 500px;	
	}
	.image-text{
		width: 200px;
		height: 120px;
		/*margin-right: auto;
		margin-left:auto;
		display: block;*/
		float: left;
	}
	.title{
		width: 80%;
	}
	#informations-image{
	  width: 300px;
	}
	
	.timer{
	  position: absolute;
	bottom: 5%;
	left: 49%;
	transform: translate(-50%, -50%);
	z-index: 1;
	}
	
}









